-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tax_db
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_assessment_data`
--

DROP TABLE IF EXISTS `audit_assessment_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_assessment_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `query_id` int(11) NOT NULL DEFAULT 0,
  `position_paper_id` int(11) NOT NULL DEFAULT 0,
  `claimable_tax_amount` double DEFAULT 0,
  `penalty_amount` double NOT NULL DEFAULT 0,
  `omitted_income_amount` double NOT NULL DEFAULT 0,
  `date_of_issue` date DEFAULT NULL,
  `date_of_closure` date DEFAULT NULL,
  `ref_no` varchar(50) DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '1 = Collection stage\r\n2 = Objection stage',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_assessment_data`
--

LOCK TABLES `audit_assessment_data` WRITE;
/*!40000 ALTER TABLE `audit_assessment_data` DISABLE KEYS */;
INSERT INTO `audit_assessment_data` VALUES (1,1001,1,45,0,1,5678678,45467,45678904567,'2024-08-23','2024-08-26','yudf45678',1,'2024-08-23 11:21:35','2024-08-26 16:12:12');
/*!40000 ALTER TABLE `audit_assessment_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_close_request_data`
--

DROP TABLE IF EXISTS `audit_close_request_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_close_request_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `audit_id` int(11) NOT NULL,
  `auditor_id` int(11) NOT NULL,
  `approved_by` int(11) NOT NULL DEFAULT 0 COMMENT 'User ID',
  `approval_status` int(11) NOT NULL DEFAULT 0 COMMENT '0 = Not Approved\r\n1 = Approved',
  `request_date` datetime DEFAULT NULL,
  `approval_date` datetime DEFAULT NULL,
  `reason` varchar(300) DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '0 = Inactive / Closed\r\n1 = Active / Open',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_close_request_data`
--

LOCK TABLES `audit_close_request_data` WRITE;
/*!40000 ALTER TABLE `audit_close_request_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_close_request_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_memo_data`
--

DROP TABLE IF EXISTS `audit_memo_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_memo_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `secondary_auditor_id` int(11) NOT NULL,
  `primary_auditor_id` int(11) NOT NULL,
  `memo_no` varchar(50) DEFAULT NULL,
  `total_no_of_query` varchar(20) DEFAULT NULL,
  `date_of_issue` date DEFAULT NULL,
  `days_to_reply` varchar(20) DEFAULT NULL,
  `last_date_of_reply` date DEFAULT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_memo_data`
--

LOCK TABLES `audit_memo_data` WRITE;
/*!40000 ALTER TABLE `audit_memo_data` DISABLE KEYS */;
INSERT INTO `audit_memo_data` VALUES (1,1001,1,46,45,'M01','10','2024-05-21','14','2024-06-04','A','2024-08-08 09:48:55','2024-08-08 09:48:55'),(2,1001,1,46,45,'M02','7','2024-05-27','7','2024-06-03','A','2024-08-08 09:49:45','2024-08-08 09:49:45'),(3,1001,7,45,48,'M01','10','2024-08-21','2','2024-08-22','A','2024-08-20 16:20:22','2024-08-20 16:20:22');
/*!40000 ALTER TABLE `audit_memo_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_tax_type_history`
--

DROP TABLE IF EXISTS `audit_tax_type_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_tax_type_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `audit_type_id` int(11) NOT NULL DEFAULT 0,
  `type_of_tax_id` varchar(100) DEFAULT NULL,
  `company_id` int(11) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '0 = Inactive, 1 = Active',
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_tax_type_history`
--

LOCK TABLES `audit_tax_type_history` WRITE;
/*!40000 ALTER TABLE `audit_tax_type_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_tax_type_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_time_spent_data`
--

DROP TABLE IF EXISTS `audit_time_spent_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_time_spent_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `audit_id` int(11) NOT NULL,
  `auditor_id` int(11) NOT NULL,
  `date` date DEFAULT NULL,
  `time_in_hrs` int(11) NOT NULL DEFAULT 0,
  `leave_hrs` double NOT NULL DEFAULT 0,
  `training_hrs` double NOT NULL DEFAULT 0,
  `other_duty_hrs` double NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_time_spent_data`
--

LOCK TABLES `audit_time_spent_data` WRITE;
/*!40000 ALTER TABLE `audit_time_spent_data` DISABLE KEYS */;
INSERT INTO `audit_time_spent_data` VALUES (1,1001,1,2,45,'2024-08-13',2,0,0,0,'2024-08-13 09:50:25','2024-08-13 09:50:25'),(2,1001,1,2,45,'2024-08-23',8,0,0,0,'2024-08-23 10:42:36','2024-08-23 10:42:36'),(3,1001,0,0,45,'2024-08-22',0,0,9,0,'2024-08-23 11:32:10','2024-08-23 11:32:10');
/*!40000 ALTER TABLE `audit_time_spent_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_types`
--

DROP TABLE IF EXISTS `audit_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `audit_type` varchar(200) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_types`
--

LOCK TABLES `audit_types` WRITE;
/*!40000 ALTER TABLE `audit_types` DISABLE KEYS */;
INSERT INTO `audit_types` VALUES (1,1001,'Comprehensive audit',15,'A','2024-07-02 15:36:07','2024-07-02 15:36:07'),(2,1001,'Single issue audit',15,'A','2024-07-02 15:36:07','2024-07-02 15:36:07'),(3,1001,'Extractive Industries and Complex Audit',15,'A','2024-07-02 15:36:51','2024-07-02 15:36:51'),(4,1001,'Desk audits',15,'A','2024-07-02 15:36:51','2024-07-02 15:36:51');
/*!40000 ALTER TABLE `audit_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audits_data`
--

DROP TABLE IF EXISTS `audits_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audits_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `audit_expected_complete_date` date DEFAULT NULL,
  `audit_start_date` date DEFAULT NULL,
  `audit_end_date` date DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 0,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audits_data`
--

LOCK TABLES `audits_data` WRITE;
/*!40000 ALTER TABLE `audits_data` DISABLE KEYS */;
INSERT INTO `audits_data` VALUES (1,1001,4,49,NULL,'2024-08-08',NULL,1,'A','2024-08-08 09:08:33','2024-08-08 09:08:33'),(2,1001,1,45,NULL,'2024-08-08',NULL,1,'A','2024-08-08 09:41:18','2024-08-08 09:41:18'),(3,1001,2,47,NULL,'2024-08-09',NULL,1,'A','2024-08-09 06:23:07','2024-08-09 06:23:07');
/*!40000 ALTER TABLE `audits_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `client` (
  `client_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(20) DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `mobile` varchar(50) NOT NULL,
  `email` varchar(50) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `city` varchar(50) DEFAULT NULL,
  `district` varchar(50) DEFAULT NULL,
  `state` varchar(20) DEFAULT NULL,
  `pin_code` varchar(10) DEFAULT NULL,
  `website_name` varchar(50) DEFAULT NULL,
  `company_name` varchar(200) NOT NULL,
  `company_logo` varchar(100) DEFAULT NULL COMMENT 'Document',
  `company_email` varchar(50) NOT NULL,
  `company_email_password` varchar(100) DEFAULT NULL,
  `company_mobile` varchar(15) NOT NULL,
  `company_phone` varchar(15) DEFAULT NULL,
  `company_address` varchar(200) DEFAULT NULL,
  `company_city` varchar(50) DEFAULT NULL,
  `company_district` varchar(50) DEFAULT NULL,
  `company_state` varchar(20) DEFAULT NULL,
  `company_pincode` varchar(10) DEFAULT NULL,
  `gstin_no` varchar(20) DEFAULT NULL,
  `tan` varchar(20) DEFAULT NULL,
  `pan` varchar(20) DEFAULT NULL,
  `joined_date` date NOT NULL,
  `validity_period` int(11) NOT NULL COMMENT 'In months',
  `expiry_date` date NOT NULL,
  `total_charge` double NOT NULL COMMENT 'Regiustration charge',
  `rental_type` int(11) NOT NULL DEFAULT 0 COMMENT '0 - Monthly , 1 - Yearly',
  `rental_charge` double NOT NULL,
  `paid_amount` double NOT NULL,
  `due_amount` double NOT NULL DEFAULT 0,
  `payment_status` int(11) NOT NULL DEFAULT 0 COMMENT '0 - Due, 1 - Paid',
  `sms_enabled` int(11) NOT NULL DEFAULT 0 COMMENT '1 - Enable, 0 - Disable',
  `google_api_enable` int(11) NOT NULL DEFAULT 0 COMMENT '1 - Enable, 0 - Disable',
  `whatsapp_integration_enable` int(11) NOT NULL DEFAULT 0 COMMENT '1 - Enable, 0 - Disable',
  `live_location_tracking_enable` int(11) NOT NULL DEFAULT 0 COMMENT '1 - Enable, 0 - Disable',
  `multi_language_support_enable` int(11) NOT NULL DEFAULT 0 COMMENT '1 - Enable, 0 - Disable',
  `sms_package_code` varchar(50) DEFAULT NULL,
  `registration_charge` double NOT NULL DEFAULT 0,
  `sms_recharge_date` date DEFAULT NULL,
  `sms_validity_period` int(11) NOT NULL DEFAULT 0 COMMENT 'In Month',
  `sms_gateway_type` int(11) NOT NULL DEFAULT 1 COMMENT '1 - Saha CyberTech SMS API, 2 - Personal SMS api',
  `sms_gateway` varchar(10) DEFAULT NULL,
  `sms_endpoint` varchar(250) DEFAULT NULL,
  `sms_sid` varchar(10) DEFAULT NULL,
  `send_auto_sms` int(11) NOT NULL DEFAULT 0 COMMENT '0 - Manual, 1 - Automatic',
  `total_sms` int(11) NOT NULL DEFAULT 0,
  `sms_sent` int(11) NOT NULL DEFAULT 0,
  `sms_balance` int(11) NOT NULL DEFAULT 0,
  `sms_sid_enable` int(11) NOT NULL DEFAULT 0 COMMENT '0 - Disable, 1 - Enable',
  `max_product` int(11) NOT NULL DEFAULT 0,
  `max_user` int(11) NOT NULL DEFAULT 0,
  `max_manager` int(11) NOT NULL DEFAULT 0,
  `max_category` int(11) NOT NULL DEFAULT 0,
  `max_banner_content` int(11) NOT NULL,
  `max_special_menu` int(11) NOT NULL DEFAULT 4,
  `product_added` int(11) NOT NULL DEFAULT 0,
  `user_added` int(11) NOT NULL DEFAULT 0 COMMENT 'General Employee',
  `manager_added` int(11) NOT NULL DEFAULT 0,
  `category_added` int(11) NOT NULL DEFAULT 0,
  `feature_plan` int(11) NOT NULL COMMENT '7 - Basic, 2 - Standard, 1 - Premium, 3 - Custom',
  `project_service_type` int(11) NOT NULL COMMENT '1 - Grocery, 2 - Texttile, 3 - Home Appliances, 4 - All',
  `application_server` int(11) DEFAULT 1 COMMENT '1 - Saha CyberTech Server, 2 - Company Own server, 3 - 3rdf Party server',
  `mac_id` varchar(20) DEFAULT NULL COMMENT 'MAC ID of the server',
  `ip` varchar(15) DEFAULT NULL COMMENT 'ip of the server',
  `site_url` varchar(200) DEFAULT NULL,
  `trade_license` varchar(100) DEFAULT NULL COMMENT 'Document',
  `gstin_certificate` varchar(100) DEFAULT NULL COMMENT 'Document',
  `pan_card` varchar(100) DEFAULT NULL COMMENT 'Document',
  `company_director_list` varchar(100) DEFAULT NULL COMMENT 'Document',
  `company_master_data` varchar(100) DEFAULT NULL COMMENT 'Document',
  `company_type` int(11) NOT NULL DEFAULT 1 COMMENT '1 - PVT, 2 - LTD, 3 - LLP, 4 - Partnership, 5 - Propreitary, 6 - Others',
  `cin_document` varchar(100) DEFAULT NULL COMMENT 'Document',
  `moa_aoa` varchar(100) DEFAULT NULL COMMENT 'Document',
  `partnership_deed` varchar(100) DEFAULT NULL COMMENT 'Document',
  `company_photograph_1` varchar(100) DEFAULT NULL COMMENT 'Document. Outside',
  `company_photograph_2` varchar(100) DEFAULT NULL COMMENT 'Document. Inside',
  `company_photograph_3` varchar(100) DEFAULT NULL COMMENT 'Document. Inside',
  `corporate_mail_id` varchar(100) DEFAULT NULL,
  `account_number` varchar(30) DEFAULT NULL,
  `account_holder_name` varchar(100) DEFAULT NULL,
  `bank_name` varchar(150) DEFAULT NULL,
  `ifsc_code` varchar(20) DEFAULT NULL,
  `branch_address` varchar(200) DEFAULT NULL,
  `cancelled_cheque` varchar(100) DEFAULT NULL COMMENT 'Document',
  `active` int(11) NOT NULL DEFAULT 1,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `creation_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`client_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1002 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES (1001,NULL,'IRC','9123456789','info@adzguru.co',NULL,NULL,NULL,NULL,NULL,NULL,'Revenue and Audit Insight Tracking Enabled System (RAITES)','logo.png','info@adzguru.co','','9123456789',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'2024-06-01',12,'2025-06-30',50000,1,4000,6000,44000,0,1,1,1,1,1,NULL,15000,'2022-01-01',12,1,NULL,NULL,NULL,1,0,0,0,0,0,0,0,0,0,4,0,0,0,0,1,4,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'A','2024-07-24 05:28:22');
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_name` varchar(100) DEFAULT NULL,
  `industry_type_id` int(11) NOT NULL DEFAULT 0,
  `company_code` varchar(100) DEFAULT NULL,
  `street_number` varchar(50) DEFAULT NULL,
  `street_name` varchar(100) DEFAULT NULL,
  `city_or_suburb` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `postcode` varchar(20) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `fax` varchar(100) DEFAULT NULL,
  `tax_identification_number` varchar(100) DEFAULT NULL,
  `business_registration_number` varchar(100) DEFAULT NULL,
  `case_code` varchar(50) DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1,
  `active_inactive_date` date DEFAULT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_assigned_data`
--

DROP TABLE IF EXISTS `company_assigned_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_assigned_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `auditor_id` int(11) NOT NULL,
  `company_ids` int(11) DEFAULT 0,
  `primary_secondary` int(11) NOT NULL DEFAULT 0 COMMENT '1 = Primary, 2 = Secondary',
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_assigned_data`
--

LOCK TABLES `company_assigned_data` WRITE;
/*!40000 ALTER TABLE `company_assigned_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_assigned_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_industry_type`
--

DROP TABLE IF EXISTS `company_industry_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_industry_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `industry_type` varchar(250) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_industry_type`
--

LOCK TABLES `company_industry_type` WRITE;
/*!40000 ALTER TABLE `company_industry_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_industry_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_notice_data`
--

DROP TABLE IF EXISTS `company_notice_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_notice_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `query_ids` varchar(200) DEFAULT NULL,
  `notice_no` varchar(100) DEFAULT NULL,
  `notice_section` varchar(100) DEFAULT NULL,
  `date_of_notice_issue` date DEFAULT NULL,
  `days_to_reply_notice` varchar(20) DEFAULT NULL,
  `last_date_of_reply` date DEFAULT NULL,
  `date_of_reply_notice` date DEFAULT NULL,
  `notice_status` int(11) NOT NULL DEFAULT 2 COMMENT '0 = No Input 1 = Submitted 2 = Pending 3 = Overdue',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_notice_data`
--

LOCK TABLES `company_notice_data` WRITE;
/*!40000 ALTER TABLE `company_notice_data` DISABLE KEYS */;
INSERT INTO `company_notice_data` VALUES (1,1001,1,'7,8,12','N001',NULL,'2024-08-10','2','2024-08-11','2024-08-12',1,'2024-08-13 09:36:09','2024-08-13 09:37:07'),(2,1001,1,'13','erw001',NULL,'2024-08-23','4','2024-08-26',NULL,2,'2024-08-23 11:15:37','2024-08-23 11:15:37');
/*!40000 ALTER TABLE `company_notice_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `department_name` varchar(100) DEFAULT NULL,
  `added_by` int(11) NOT NULL DEFAULT 0 COMMENT 'Current User ID',
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `creation_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,1001,'Sales',3,'D','2024-01-02 17:48:57'),(2,1001,'Back-End',3,'D','2024-01-02 17:49:10'),(3,1001,'HR',3,'D','2024-01-02 17:49:17'),(4,1001,'IT ',6,'D','2024-01-12 18:38:09'),(5,1001,'Domestic Sales',6,'D','2024-01-12 18:38:26'),(6,1001,'International Sales',6,'D','2024-01-12 18:38:41'),(7,1001,'E-commerce',6,'D','2024-02-19 19:38:55'),(8,1001,'Other Large Taxpayer Tax Audits, Refunds and Offsets',3,'A','2024-07-26 06:59:50'),(9,1001,'Extractive Industries and Complex Tax Audits',3,'A','2024-07-26 07:00:23');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `designations`
--

DROP TABLE IF EXISTS `designations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `designations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL DEFAULT 1001,
  `designation_title` varchar(150) NOT NULL COMMENT 'Name of the Designatioon',
  `responsibilities` mediumtext DEFAULT NULL COMMENT 'Text Input',
  `experience_required` varchar(20) DEFAULT NULL COMMENT 'Text Input\r\nFormat = 00 Years 00 Months',
  `added_by` int(11) NOT NULL COMMENT 'Current User ID',
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '0 = Inactive 1 = Active',
  `status` varchar(1) NOT NULL DEFAULT 'A' COMMENT 'A = Active / Available D = Deleted',
  `creation_date` datetime NOT NULL DEFAULT current_timestamp(),
  `last_update_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `designations`
--

LOCK TABLES `designations` WRITE;
/*!40000 ALTER TABLE `designations` DISABLE KEYS */;
/*!40000 ALTER TABLE `designations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_details`
--

DROP TABLE IF EXISTS `employee_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL DEFAULT 1001,
  `employee_name` varchar(100) NOT NULL,
  `employee_mobile` varchar(15) DEFAULT NULL,
  `employee_email` varchar(30) DEFAULT NULL,
  `employee_date_of_birth` date DEFAULT NULL,
  `employee_father_name` varchar(100) DEFAULT NULL,
  `employee_mother_name` varchar(100) DEFAULT NULL,
  `employee_blood_group` varchar(10) DEFAULT NULL,
  `employee_designation_id` int(11) NOT NULL DEFAULT 0,
  `employee_date_of_joinning` date DEFAULT NULL,
  `employee_experience_duration` varchar(20) DEFAULT NULL COMMENT 'Format = 00 Years 00 Months',
  `employee_payroll` int(11) NOT NULL DEFAULT 1 COMMENT '1 = company payroll\r\n2 = contact',
  `employee_grade` int(11) NOT NULL DEFAULT 4,
  `employee_id` varchar(10) DEFAULT NULL,
  `department_id` int(11) NOT NULL DEFAULT 0,
  `salary_amount` varchar(10) DEFAULT NULL,
  `webmail_address` varchar(100) DEFAULT NULL,
  `current_address` varchar(200) DEFAULT NULL,
  `permanent_address` varchar(200) DEFAULT NULL,
  `emergency_contact_person_name` varchar(100) DEFAULT NULL,
  `emergency_contact_person_mobile_number` varchar(15) DEFAULT NULL,
  `aadhaar_number` varchar(20) DEFAULT NULL,
  `pan_number` varchar(20) DEFAULT NULL,
  `salary_account_number` varchar(50) DEFAULT NULL,
  `salary_account_ifsc_code` varchar(20) DEFAULT NULL,
  `uan_number` varchar(20) DEFAULT NULL,
  `esic_ip_number` varchar(50) DEFAULT NULL,
  `remarks` mediumtext DEFAULT NULL,
  `remark_by` int(11) DEFAULT NULL COMMENT 'Current User ID',
  `employee_added_by` int(11) NOT NULL COMMENT 'Current User ID',
  `last_working_day` date DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '0 = Inactive\r\n1 = Active\r\n2 = RESIGNED\r\n3 = ABSCONDED\r\n4 = SERVING_NOTICE\r\n5 = OTHER REASON',
  `inactive_reason` varchar(300) DEFAULT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A' COMMENT 'A = Active / Available\r\nD = Deleted',
  `creation_date` datetime NOT NULL DEFAULT current_timestamp(),
  `last_update_date` datetime NOT NULL DEFAULT current_timestamp(),
  `reporting_time` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_details`
--

LOCK TABLES `employee_details` WRITE;
/*!40000 ALTER TABLE `employee_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_reporting_manager`
--

DROP TABLE IF EXISTS `employee_reporting_manager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_reporting_manager` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `employee_id` int(11) NOT NULL,
  `reporting_manager_user_id` int(11) NOT NULL,
  `assigned_by_user_id` int(11) NOT NULL COMMENT 'Current User ID',
  `assign_date` date DEFAULT NULL,
  `dismiss_date` date DEFAULT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A' COMMENT 'A = Active, D = Deactive',
  `creation_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_reporting_manager`
--

LOCK TABLES `employee_reporting_manager` WRITE;
/*!40000 ALTER TABLE `employee_reporting_manager` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_reporting_manager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_paper_data`
--

DROP TABLE IF EXISTS `position_paper_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position_paper_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `query_id` int(11) NOT NULL DEFAULT 0,
  `position_paper_id` int(11) NOT NULL DEFAULT 0,
  `user_id` int(11) NOT NULL,
  `date_of_issue` date DEFAULT NULL,
  `initial_submission_date` date DEFAULT NULL,
  `extended_submission_date` date DEFAULT NULL,
  `if_extension_granted` int(11) NOT NULL DEFAULT 0,
  `extension_days` varchar(10) DEFAULT NULL,
  `extention_end_date_to_reply` date DEFAULT NULL,
  `date_of_reply` date DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_paper_data`
--

LOCK TABLES `position_paper_data` WRITE;
/*!40000 ALTER TABLE `position_paper_data` DISABLE KEYS */;
INSERT INTO `position_paper_data` VALUES (1,1001,1,2,1,45,'2024-08-20','2024-08-20',NULL,0,NULL,NULL,NULL,1,'2024-08-20 16:12:28','2024-08-20 16:12:28'),(2,1001,1,4,1,45,'2024-08-20','2024-08-20',NULL,0,NULL,NULL,NULL,1,'2024-08-20 16:12:28','2024-08-20 16:12:28'),(3,1001,1,5,1,45,'2024-08-20','2024-08-20',NULL,0,NULL,NULL,NULL,1,'2024-08-20 16:12:28','2024-08-20 16:12:28'),(4,1001,1,3,2,45,'2024-08-23','2024-08-24',NULL,0,NULL,NULL,NULL,1,'2024-08-23 11:18:19','2024-08-23 11:18:19');
/*!40000 ALTER TABLE `position_paper_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_paper_extention_dates`
--

DROP TABLE IF EXISTS `position_paper_extention_dates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position_paper_extention_dates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `position_paper_id` int(11) NOT NULL,
  `if_extension_granted` int(11) NOT NULL DEFAULT 0,
  `extension_days` varchar(20) DEFAULT NULL,
  `extention_start_date` date DEFAULT NULL,
  `extention_end_date` date DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_paper_extention_dates`
--

LOCK TABLES `position_paper_extention_dates` WRITE;
/*!40000 ALTER TABLE `position_paper_extention_dates` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_paper_extention_dates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_papers`
--

DROP TABLE IF EXISTS `position_papers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position_papers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `reference_no` varchar(100) DEFAULT NULL,
  `company_id` int(11) NOT NULL,
  `date_of_issue` date DEFAULT NULL,
  `initial_submission_date` date DEFAULT NULL,
  `date_of_reply` date DEFAULT NULL,
  `if_extension_granted` int(11) NOT NULL DEFAULT 0,
  `extension_days` varchar(10) DEFAULT NULL,
  `extention_end_date_to_reply` date DEFAULT NULL,
  `open_close_status` int(11) NOT NULL DEFAULT 1 COMMENT '1 = open, 0 = closed',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_papers`
--

LOCK TABLES `position_papers` WRITE;
/*!40000 ALTER TABLE `position_papers` DISABLE KEYS */;
INSERT INTO `position_papers` VALUES (1,1001,'00125',1,'2024-08-20','2024-08-20',NULL,0,NULL,NULL,1,'2024-08-20 16:12:28','2024-08-20 16:12:28'),(2,1001,'00123',1,'2024-08-23','2024-08-24',NULL,0,NULL,NULL,1,'2024-08-23 11:18:19','2024-08-23 11:18:19');
/*!40000 ALTER TABLE `position_papers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `query_data`
--

DROP TABLE IF EXISTS `query_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `query_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `audit_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `memo_id` int(11) NOT NULL DEFAULT 0,
  `audit_type_id` int(11) NOT NULL DEFAULT 0,
  `tax_type_id` int(11) NOT NULL DEFAULT 0,
  `query_no` varchar(50) DEFAULT NULL,
  `total_no_of_query` varchar(20) DEFAULT NULL,
  `date_of_issue` date DEFAULT NULL,
  `days_to_reply` varchar(10) DEFAULT NULL,
  `last_date_of_reply` date DEFAULT NULL,
  `if_extension_granted` int(11) NOT NULL DEFAULT 0 COMMENT '0 = Not Granted, 1 = Granted',
  `extension_days` varchar(10) DEFAULT NULL,
  `extention_end_date_to_reply` date DEFAULT NULL,
  `date_of_reply` date DEFAULT NULL,
  `query_reply_is_submitted` int(11) NOT NULL DEFAULT 0 COMMENT '0 = No Input\r\n1 = Submitted\r\n2 = Overdue\r\n3 = Pending\r\n4 = Partially Submitted',
  `no_of_query_solved` varchar(20) DEFAULT NULL,
  `no_of_query_unsolved` varchar(20) DEFAULT NULL,
  `query_status` int(11) NOT NULL DEFAULT 1 COMMENT '1 = open\r\n2 = close\r\n3 = notice_issued\r\n4 = force_closed',
  `remarks` varchar(200) DEFAULT NULL,
  `notice_no` varchar(100) DEFAULT NULL,
  `notice_section` varchar(50) DEFAULT NULL,
  `date_of_notice_issue` date DEFAULT NULL,
  `days_to_reply_notice` varchar(10) DEFAULT NULL,
  `date_of_reply_notice` date DEFAULT NULL,
  `notice_status` int(11) NOT NULL DEFAULT 0 COMMENT '0 = No Input\r\n1 = Submitted\r\n2 = Pending\r\n3 = Overdue',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `query_data`
--

LOCK TABLES `query_data` WRITE;
/*!40000 ALTER TABLE `query_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `query_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `query_extension_dates`
--

DROP TABLE IF EXISTS `query_extension_dates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `query_extension_dates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `query_id` int(11) NOT NULL,
  `if_extension_granted` int(11) NOT NULL DEFAULT 0,
  `extension_days` varchar(20) DEFAULT NULL,
  `extention_start_date` date NOT NULL,
  `extention_end_date` date NOT NULL,
  `active` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `query_extension_dates`
--

LOCK TABLES `query_extension_dates` WRITE;
/*!40000 ALTER TABLE `query_extension_dates` DISABLE KEYS */;
/*!40000 ALTER TABLE `query_extension_dates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `query_reply`
--

DROP TABLE IF EXISTS `query_reply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `query_reply` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL DEFAULT 0,
  `query_id` int(11) NOT NULL DEFAULT 0,
  `date_of_reply` date DEFAULT NULL,
  `no_of_query_solved` varchar(20) DEFAULT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `query_reply`
--

LOCK TABLES `query_reply` WRITE;
/*!40000 ALTER TABLE `query_reply` DISABLE KEYS */;
INSERT INTO `query_reply` VALUES (1,1001,1,'2024-04-18','1','A','2024-08-08 09:58:48'),(2,1001,2,'2024-05-09','1','A','2024-08-09 05:12:39'),(3,1001,3,'2024-05-06','1','A','2024-08-09 05:12:55'),(4,1001,4,'2024-05-24','1','A','2024-08-09 05:14:05'),(5,1001,5,'2024-05-27','1','A','2024-08-09 05:14:24'),(6,1001,6,'2024-05-27','1','A','2024-08-09 05:14:37'),(7,1001,13,'2024-08-23','3','A','2024-08-23 11:11:40'),(8,1001,13,'2024-08-24','1','A','2024-08-23 11:13:08');
/*!40000 ALTER TABLE `query_reply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_collection_data`
--

DROP TABLE IF EXISTS `tax_collection_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tax_collection_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `assessment_id` int(11) NOT NULL,
  `tax_amount` double NOT NULL DEFAULT 0,
  `paid_amount` double NOT NULL DEFAULT 0,
  `pending_amount` double NOT NULL DEFAULT 0,
  `last_payment_date` date DEFAULT NULL,
  `penalty_amount` double NOT NULL DEFAULT 0,
  `penalty_paid_amount` double NOT NULL DEFAULT 0,
  `penalty_pending_amount` double NOT NULL DEFAULT 0,
  `penalty_last_payment_date` date DEFAULT NULL,
  `payment_status` int(11) NOT NULL DEFAULT 1 COMMENT '1 = active\r\n2 = closed\r\n3 = partially paid',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_collection_data`
--

LOCK TABLES `tax_collection_data` WRITE;
/*!40000 ALTER TABLE `tax_collection_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_collection_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_payment_history`
--

DROP TABLE IF EXISTS `tax_payment_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tax_payment_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `assessment_id` int(11) NOT NULL,
  `tax_collection_id` int(11) NOT NULL,
  `payment_amount` double NOT NULL DEFAULT 0,
  `payment_date` date DEFAULT NULL,
  `payment_type` int(11) NOT NULL DEFAULT 1 COMMENT '1 = Tax Amount\r\n2 = Penalty Amount',
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_payment_history`
--

LOCK TABLES `tax_payment_history` WRITE;
/*!40000 ALTER TABLE `tax_payment_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_payment_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_of_tax`
--

DROP TABLE IF EXISTS `type_of_tax`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_of_tax` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `type_of_tax` varchar(100) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `status` varchar(1) NOT NULL DEFAULT 'A',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_of_tax`
--

LOCK TABLES `type_of_tax` WRITE;
/*!40000 ALTER TABLE `type_of_tax` DISABLE KEYS */;
INSERT INTO `type_of_tax` VALUES (1,1001,'CIT',15,'A','2024-07-02 15:34:26','2024-07-02 15:34:26'),(2,1001,'SWT',15,'A','2024-07-02 15:34:26','2024-07-02 15:34:26'),(3,1001,'DWT',15,'A','2024-07-02 15:35:08','2024-07-02 15:35:08'),(4,1001,'IWT',15,'A','2024-07-02 15:35:08','2024-07-02 15:35:08'),(5,1001,'GST',3,'A','2024-08-08 07:15:55','2024-08-08 07:15:55');
/*!40000 ALTER TABLE `type_of_tax` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_last_session_data`
--

DROP TABLE IF EXISTS `user_last_session_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_last_session_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `login_date` date DEFAULT NULL,
  `login_time` varchar(30) DEFAULT NULL,
  `logout_date` date DEFAULT NULL,
  `logout_time` varchar(30) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `infotext` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_last_session_data`
--

LOCK TABLES `user_last_session_data` WRITE;
/*!40000 ALTER TABLE `user_last_session_data` DISABLE KEYS */;
INSERT INTO `user_last_session_data` VALUES (1,1001,50,'2024-08-28','20:30:48','2024-08-28','22:30:33','127.0.0.1','127.0.0.1 || Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36 || 2024-08-28 20:30:48');
/*!40000 ALTER TABLE `user_last_session_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `employee_id` int(11) NOT NULL DEFAULT 0,
  `user_type` int(11) NOT NULL COMMENT '(SADMIN, 7)\r\n(ADMIN, 6)\r\n(MANAGER, 5)\r\n(EMPLOYEE, 4)',
  `name` varchar(100) NOT NULL,
  `email` varchar(70) DEFAULT NULL,
  `mobile` varchar(15) DEFAULT NULL,
  `password` varchar(20) NOT NULL,
  `pass_hash` varchar(100) NOT NULL,
  `ref_id` int(11) NOT NULL DEFAULT 0 COMMENT 'Reference Table Id',
  `active` int(11) NOT NULL DEFAULT 1 COMMENT '1 = Active, 0 = Deactive',
  `status` varchar(1) NOT NULL DEFAULT 'A' COMMENT 'A = Active, D = Deleted / Removed',
  `creation_date` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `password_updated_at` datetime DEFAULT NULL,
  `infotext` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-08-28 18:03:51
